@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    min-width: 392px; 
}

main{
    background: linear-gradient(to bottom, #ffffff, #dbdbdb);
    min-height: 100vh;
}

.userIcon1{
    width: 3rem;
}

.user-icon{
    font-weight: 700;
    color: #5B5B5B;
}


/*search input field*/
form {
    background-color: #F6F6F6;
    color: #555;
    display: flex;
    padding: 2px;
    border-radius: 50px;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.219);
  }

  input[type="search"] {
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 90%;
  }

  input[type="search"]::placeholder {
    color: #bbb;
  }

  .header button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }

  button[type="submit"]:hover {
    opacity: 1;
  }
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }


  /*Log Out Button*/
  .logOut-btn > button{
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.219);
    font-weight: 700;
    color: #5B5B5B;
  }
  

  /*Middle Section*/
  .wlc-message{
    background-color: #F0F0F0;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.219);
  }

  .userImg{
    width: 8rem;
  }

  .wlc-text > h4{
    color: #474747;
    font-weight: 700;
  }

  .wlc-text > p{
    color: #939393;
    font-weight: 600;
  }

  /*AddBtn*/
  .addBtn>button{
    background-color: #9A231D;
    color: #ffffff;
    font-weight: 700;
    border-radius: 14px;
  }

  /*Book 2*/
  
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px;
}

.slide-content{
  margin: 0 40px;
}

.card{
  margin: 0 10px;
  max-width: 320px;
  border-radius: 25px;
  background-color: #fff;
}


.card-content{
  padding: 10px 14px;
  
}

.image-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  position: relative;
  /* padding: 25px 0; */
}

.overlay{
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #9A231D;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  right: 0;
  bottom: -40px;
  background-color: #9A231D;
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-image{
  position: relative;
  width: 90%;
  height: 150px;
  padding: 3px;
}

.card-image .card-title{
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}

 .button{
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  background-color:  #9A231D;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all o.3s ease;
}

.button:hover{
  background: #265Df2;
}

.btn-conts{
  width: 100%;
}


.person p{
  font-size: 1.5rem;
  font-weight: 600;
  color: #616161;
  margin: 1rem 0;
}

.person .Bvalues{
  color: #000000;
  font-weight: 700;
}


  /*FOOTER*/
  .footer{
    width: 100%;
    background-color: #9A231D;
    font-weight: 500;
    color: #ffffff;
  }




  @media screen and (max-width: 800px) {
    /*Middle Section*/
  .userImg{
    width: 5rem;
  }

  .wlc-text > h4,p{
    color: #474747;
    font-weight: 700;
    font-size: 1rem;
  }

  .wlc-text > p{
    font-size: 0.9rem;
  }
  }

  /*the form*/

 .popup{
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      width: 380px;
      padding: 20px 30px;
      background: #fff;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
      border-radius: 10px;
      transition: top 0ms ease-in-out 0ms,
                  opacity 200ms ease-in-out 0ms,
                  transform 200ms ease-in-out 0ms
  }

  ::backdrop {
    background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
    );
    opacity: 0.75;
    }

  .popup .close-btn{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 15px;
      height: 15px;
      background: #888;
      color: #eee;
      line-height: 15px;
      text-align: center;
      border-radius: 15px;
      cursor: pointer;
  }

  .popup .form h2{
      text-align: center;
      color: #222;
      margin: 10px 0px 20px;
      font-size: 25px;
  }

  .popup .form .form-element{
      margin: 15px 0px;
  }

  .popup .form .form-element label{
      font-size: 14px;
      color: #222;
  }

  .popup .form .form-element input[type="text"],
  .popup .form .form-element input[type="number"]{
      margin-top: 5px;
      display: block;
      width: 100%;
      padding: 10px;
      outline: none;
      border: 1px solid #aaa;
      border-radius: 5px;
  }

  .popup .form .form-element input[type="checkbox"]{
      margin-right: 5px;
  }

  .popup .form .form-element button{
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      font-size: 15px; 
      background-color: #9A231D;
      color: #f5f5f5;
      border-radius: 10px;
      cursor: pointer;
  }

  .popup .form .form-element a{
      display: block;
      text-align: right;
      font-size: 15px;
      color: #1a79ca;
      text-decoration: none;
      font-weight: 600;
  }


  .dummy-class{
    color: #000000;
  }



  /*for the read and delete button*/
  